body {
  background-color: #ffb300;
}

.quote {
  font-size: 40px;
}

.author {
  font-size: 20px;
}

.new-quote {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
